<div class="container">
	<div class="row .bottom-align-text">
		
			<button class="btn btn-default btn-sm col-xs-3" ng-click="goBack()">返回</button>
		    <h4 class="center-align col-xs-6">我的订单</h4>

	</div>

</div>	





<hr>
<div class="container">
	<table class="table table-bordered">
		<tr ng-repeat="order in myOrders track by $index" >
			<!-- <th data-field="" data-align="center">{{order.id}}</th> -->
			<!-- <th data-field="" data-align="center">{{order.name}}</th> -->
			<!-- <th data-field="" data-align="center">{{order.tel}}</th> -->
			<!-- <th data-field="" data-align="center">{{order.city}}</th>
			<th data-field="" data-align="center">{{order.zone}}</th>
		    <th data-field="" data-align="center">{{order.day.day.date}}</th>
		    <th data-field="" data-align="center">{{order.time.duration}}</th> -->

		    <!-- <th data-field="" data-align="center">{{order.id}}</th> -->
			<!-- <th data-field="" data-align="center">{{order.name}}</th> -->
			<!-- <th data-field="" data-align="center">{{order.tel}}</th> -->
			<th data-field="" data-align="center">{{order.City}}</th>
			<th data-field="" data-align="center">{{order.Zone}}</th>
		    <th data-field="" data-align="center">{{order.Date}}</th>
		    <th data-field="" data-align="center">{{order.Time}}</th>
		</tr>
	</table>
</div>


<div ng-include="'views/navigation.html'"></div>

