<!-- <div class="container">
	<span>会员卡号 20150101</span>
</div> -->

<!-- 
<div class="content">
	<div class="container">
		<div class="row">
			<div class="span3">
				<ul class="nav nav-tabs nav-stacked">
					<li>aaa</li>
					<li>bbb</li>
					<li>ccc</li>
				</ul>
			</div>
		</div>
	</div>
</div> -->

<div class="navbar navbar-default" id="user-center-header">
	<div class="container-fluid">
		<span class="navbar-brand" id="brand">洗e洗</span> <span id="user-id">会员卡号 20150101</span>
	</div>
</div>


<div id="content">
	<hr>	
	<div class="container">
		
		<div class="row">
				
			<div class="span3">
				
			
				
				<ul id="main-nav" class="nav nav-tabs nav-stacked">
				
					<li>
						<a href="">
							<!-- <i class="icon-home"></i> -->
							余额		
						</a>
					</li>
					
					<li>
						<a href="">
							<!-- <i class="icon-pushpin"></i> -->
							优惠券
						</a>
					</li>
					
					<li>
						<a href="">
							<!-- <i class="icon-th-list"></i> -->
							绑定银行卡	
						</a>
					</li>
					
				
					
					<li>
						<a href="">
							<!-- <i class="icon-signal"></i> -->
							更多信息	
						</a>
					</li>
					
					<br>
					
					<!-- <li>
						<a href="">
							<i class="icon-lock"></i>
							Login	
						</a>
					</li> -->
					
				</ul>	
				
		
			</div>


<div ng-include="'views/navigation.html'"></div>